﻿@model MVC_DBFirst.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>



<p>Customer ID: @Model.CustomerID</p>
<p>Company Name: @Model.CompanyName</p>
<p>Contact Name: @Model.ContactName</p>
<p>Contact Title : @Model.ContactTitle</p>
<p>Address : @Model.Address</p>
<p>City : @Model.City</p>
<p>Country : @Model.Country</p>
<p>Phone Number : @Model.Phone</p>